<p>Here is it, Peter's home page, all the information about me is here!</p>


<img src="./img/peter.jpg">
<p><%= object.description%></p>
<p>My favorite foods are <%= object.foods.join(",")%>.</p>
<p>My interests are:</p>
<ul>
	<li><%= object.interests[0]%></li>
	<li><%= object.interests[1]%></li>
	<li><%= object.interests[2]%></li>

</ul>