<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
    <h1>Hello, my name is <%=data.name%>.</h1>
    <div>
        <h2>About me:</h2>
        <p><%=data.about%></p>
    </div>
    <div>
        <p>Things I drink on regular basis:</p>
        <ul>
            <%data.drinks.forEach(function(el){%>
                <li><%=el%></li>
                <%}); %>
        </ul>
        <p>I am yet to encounter food which I can't convert into a good meal. Two of my favourites are:</p>
        <ul>
            <%data.foods.forEach(function(el){%>
                <li><%=el%></li>
                <%}); %>
        </ul>
    </div>
    <div>
      <h2>Fun facts:</h2>
      <ul>
          <%Object.keys(data.funFacts).forEach(function(key){%>
              <li><%=data.funFacts[key]%></li>
            <%});%>
        </ul>
       
    </div>

    <div>
       <p> Here are some photos:</p>
      
      <figure>
        <a href="<%=data.images.tractor.link%>"><img src="<%=data.images.tractor.link%>"></a> 
        <figcaption><%=data.images.tractor.discription%></figcaption>
      </figure>
      <figure>
        <a href="<%=data.images.rasPi.link%>"><img src="<%=data.images.rasPi.link%>"></a> 
        <figcaption><%=data.images.rasPi.discription%></figcaption>
      </figure>

      <figure>
        <a href="<%=data.images.batman.link%>"><img src="<%=data.images.batman.link%>"></a> 
        <figcaption><%=data.images.batman.discription%></figcaption>
      </figure>

      

    </div>

    </div>
</body>
</html>