<p><%= obj.description %></p>
<p>My favorite foods are <%= obj.favorites.food.join(", ") %>.</p>
<p>My favorite drinks are <%= obj.favorites.drink.join(", ") %>.</p>
<p>My childhood heros are <%= obj.favorites.heros.join(", ") %>.</p>
<a href="<%= obj.images.car.link %>">And follow this link to see one of my favorite cars </a>
<p>Lastly a Quote of my own creation: <%= obj.else %></p>