<head>
	<link href="../../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<%- include('../../partials/navbar.ejs') %>
<h1 >About Me! Reilly!</h1>
<div class="image">
<img src=<%= aboutMe.img%>>
<h2><%= aboutMe.description %></h2>
</div>
<ul>
<h2>What I love to eat:</h2>
	<% aboutMe.favFoods.forEach(function(food) { %>
  <li><%=  food%></li>
  <% }); %>
</ul>
<h3>A bit more stuffff</h3>
<p><%= aboutMe.stuff %></p>
<%- include('../../partials/footer.ejs') %>
</body>